@font-face {
    font-family: Embossed;
    src: url(Media/font/tejaratchi.cn.ttf)
}
@font-face {
    font-family: Cursively;
    src: url(Media/font/artecallya.script.ttf);
}
body {
    border: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 0;
    overflow-x:hidden
}
body p {
    border: 0;
    padding: 0;
    margin: 0;
}

.content {
    width: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* header content */
.header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header pre {
    text-align: left;
    animation: rgb 10s linear infinite;
    font-size: 15px;
}
@keyframes rgb {
    0% {color: red;}
    33% {color: rgb(0, 255, 0);}
    66% {color: blue;}
    100% {color: red;}
}
.header p {
    color: rgba(255, 255, 255, 0.308);
    text-align: center;
    font-size: 80%;  
    width: 80%;
}

.linkBar p{
    color: white;
    font-size: 20px;  
    width: 100%;
}

/*TV*/
.televisionCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    padding-bottom: 16px;
}
.vcr{
    height: 900px;
    width: auto;
    position: absolute;
    pointer-events: none;
    z-index: 2;
}

.static{
    width: 593px;
    z-index: 0;
    width: auto;
    position: absolute;
    pointer-events: none;
    padding-top: 87px;
}
.televisionCont iframe {
    padding-top: 87px;
    z-index: 1;

}
.tapeSel {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    border: 0;
}
.tapeSel img {
    width: 98%;
    z-index: 0;
}
.tapeSel button {
    width: 50%;
    background:transparent;
    border:none; 
    color:transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tapeSel img:hover {
    width: 100%;
    z-index: 2;
}

.welcomeMat {
    color: white;
    font-family:'Times New Roman', Times, serif;
    width: 90%;
    margin-bottom: 30px;
}
.welcomeMat div{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.welcomeMat img {
    width: 388px;
}
.welcomeMat div p {
    width: 60%;
    font-size: 22px;
}
.giftShop {
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    padding-bottom: 200px;
}
.giftShop h2 {
    color: black;
    font-family: Embossed;
    font-size: 38px;
    opacity: 75%;
}
.plaque {
    background-image: url(Media/Napkin.png);
    margin-top: 650px;
    margin-left: 400px;
    width: 574px;
    height: 524px;
    background-size: cover;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    pointer-events: none;
}
.plaque p {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 340px;
    margin-left: 20px;
    font-family: Cursively;
    font-size: 22px;
    pointer-events: none;
}
.gallery {
    height: 600px;
    width: 600px;
    margin-bottom: 110px;
}
.gallery div {
    width: 100%;
    height: 100%;
}
.gallery img {
    width: 600px;
    height: auto;
}
.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 924px;
    height: 976.5px;
    background-image: url(Media/frame.png);
}

.signOff {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.signOff img {
    width: 382px;
    height: auto;
}
.signOff img:hover {
    content: url(Media/a2yf.gif);
}
.signOff h1 {
    color: white;
    margin: 0;
}
.signOff h2 {
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}
.signOff p {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}
